<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">Custom User Model</a>
      <button
         type="button"
         class="navbar-toggler"
         data-toggle="collapse"
         data-target="#navbarNav"
         aria-controls="navbarNav"
         aria-expanded="false"
         aria-label="Toggle navigation"
      >
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
               <a href="{% url 'accounts:logout' %}" class="nav-link">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
               <a href="{% url 'accounts:login' %}" class="nav-link bg-dark">Login</a>
            </li>
            <li class="nav-item">
               <a href="{% url 'accounts:register' %}" class="nav-link bg-dark">Register</a>
            </li>
            {% endif %}
         </ul>
      </div>
   </div>
</nav>
